.demo-button {
    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        .button-block {
            flex: 0 0 100px;
        }
    }
    .block {
        margin: 10px;
    }
    .button-container {
        width: 150px;
        height: 30px;
    }
}
