// primary color
$primary-background-color: #3c64f4;
$primary-text-color: #ffffff;
$primary-border-color: #3c64f4;

// primary color hover
$primary-background-color-hover: #2e50cf;
$primary-text-color-hover: #ffffff;
$primary-border-color-hover: #0062cc;

// secondary color
$secondary-background-color: #1fc4d3;
$secondary-text-color: #ffffff;
$secondary-border-color: #6c757d;

// secondary color hover
$secondary-background-color-hover: #17adb9;
$secondary-text-color-hover: #ffffff;
$secondary-border-color-hover: #545b62;

// success color
$success-background-color: #28c76f;
$success-text-color: #ffffff;
$success-border-color: #28a745;

// success color hover
$success-background-color-hover: #20a85c;
$success-text-color-hover: #ffffff;
$success-border-color-hover: #1e7e34;

// danger color
$danger-background-color: #e94560;
$danger-text-color: #ffffff;
$danger-border-color: #dc3545;

// danger color hover
$danger-background-color-hover: #d8344f;
$danger-text-color-hover: #ffffff;
$danger-border-color-hover: #bd2130;

// warning color
$warning-background-color: #f6ae2d;
$warning-text-color: #212529;
$warning-border-color: #ffc107;

// warning color hover
$warning-background-color-hover: #ca8a0e;
$warning-text-color-hover: #212529;
$warning-border-color-hover: #d39e00;

// info color
$info-background-color: #5a66f2;
$info-text-color: #ffffff;
$info-border-color: #17a2b8;

// info color hover
$info-background-color-hover: #464fcc;
$info-text-color-hover: #ffffff;
$info-border-color-hover: #117a8b;

$gray-silver: #d1d1d1;
$color-black: #000000;
$color-red: #ff0000;
$color-gray: #6c757d;

$color-focus: #3c64f4;
$color-focus-shadow: 0 0 0 0.2rem rgba(60, 100, 244, 0.25);
