$size-s: 0.5rem;
$size-m: 1rem;
$size-l: 1.5rem;
$size-xl: 2rem;

/* Text sizes */
$text-size-10: 10px;
$text-size-12: 12px;
$text-size-14: 14px;
$text-size-16: 16px;
$text-size-18: 18px;
$text-size-20: 20px;
$text-size-24: 24px;
$text-size-30: 30px;
$text-size-36: 36px;
$text-size-48: 48px;
$text-size-60: 60px;

/* button sizes */
$button-width-m: 80px;
$button-height-m: 40px;

/* Border radius */
$border-radius-5: 5px;
$border-radius-10: 10px;

/* Margins */
$margin-10: 10px;

/* Paddings */
$padding-5: 5px;
$padding-10: 10px;
$padding-20: 20px;
