@use "../../common/style/size" as size;
@use "../../common/style/color" as color;

button {
    display: flex;
    width: 100%;
    height: 100%;
    border: none;
    padding: size.$padding-5 size.$padding-5;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-align: center;
}

:host([radius="5"]) button {
    border-radius: size.$border-radius-5;
}

:host([radius="10"]) button {
    border-radius: size.$border-radius-10;
}

:host([radius="15"]) button {
    border-radius: size.$border-radius-15;
}

:host([size="m"]) button {
    width: size.$button-width-m;
    height: size.$button-height-m;
    font-size: size.$button-font-size-m;
}

:host([size="s"]) button {
    width: size.$button-width-s;
    height: size.$button-height-s;
    font-size: size.$button-font-size-s;
}

:host([size="l"]) button {
    width: size.$button-width-l;
    height: size.$button-height-l;
    font-size: size.$button-font-size-l;
}

:host,
:host([color="primary"]) {
    button {
        background-color: color.$primary-background-color;
        color: color.$primary-text-color;
        border: 1px solid color.$primary-border-color;

        &:hover {
            background-color: color.$primary-background-color-hover;
            color: color.$primary-text-color-hover;
            border: 1px solid color.$primary-border-color-hover;
        }
    }
}

:host([color="secondary"]) {
    button {
        background-color: color.$secondary-background-color;
        color: color.$secondary-text-color;
        border: 1px solid color.$secondary-border-color;

        &:hover {
            background-color: color.$secondary-background-color-hover;
            color: color.$secondary-text-color-hover;
            border: 1px solid color.$secondary-border-color-hover;
        }
    }
}

:host([color="success"]) {
    button {
        background-color: color.$success-background-color;
        color: color.$success-text-color;
        border: 1px solid color.$success-border-color;

        &:hover {
            background-color: color.$success-background-color-hover;
            color: color.$success-text-color-hover;
            border: 1px solid color.$success-border-color-hover;
        }
    }
}

:host([color="warning"]) {
    button {
        background-color: color.$warning-background-color;
        color: color.$warning-text-color;
        border: 1px solid color.$warning-border-color;

        &:hover {
            background-color: color.$warning-background-color-hover;
            color: color.$warning-text-color-hover;
            border: 1px solid color.$warning-border-color-hover;
        }
    }
}

:host([color="danger"]) {
    button {
        background-color: color.$danger-background-color;
        color: color.$danger-text-color;
        border: 1px solid color.$danger-border-color;

        &:hover {
            background-color: color.$danger-background-color-hover;
            color: color.$danger-text-color-hover;
            border: 1px solid color.$danger-border-color-hover;
        }
    }
}

:host([disabled]) {
    button {
        background-color: #f0f0f0;
        color: #c8c8c8;
        border: 1px solid #f0f0f0;
        cursor: not-allowed;
    }
}
